.comprar_carro{
    margin-left: 10%;
}


.titulo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black; 
    text-align: center;
}

.outro_carro{
    position: absolute;
    margin-left: 35%;
    margin-top: -23%;
}

.nome_carros{
    margin-left: 20%;
}